.App {
  text-align: center;
}

input{
  margin-top:20px;
  margin-right: 5px;
  width:300px;
  height:40px;
}
button{
  height:40px;
  margin:5px;
  background-color: purple;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
#del_btn{
  background-color: red;
}
#task{
  display: flex;
  flex-direction: row;
  align-items: center;
}
hr{
  position: relative;
  top:10px;
}
h1{
  font-family:monospace;
}

ul{
  display:grid;
  place-items: center;
}

li{
  list-style-type: none;
  width:300px;
  height: 40px;
  background-color: purple;
  margin:20px;
  color:white;
  border-radius: 5px;
  font-family: monospace;
  font-size: 2em;
}